@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@500&display=swap');


 .all {
     background-color: #d7d7d7;
     width: 100%;
 }

 .abt {
     text-align: center;
     font-family: 'Montserrat', sans-serif;

 }
 .exp{
    padding-bottom: 28px;
 }

 .content {
     text-align: center;
     font-family: 'Nunito', sans-serif;
 }

#i1{
   font-family: 'Montserrat', sans-serif;
   position: absolute;
   z-index: 1;

}
#i2{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
 }
 .row {
   margin: 0%;
 }
 
 #i3{
   font-family: 'Montserrat', sans-serif;
   position: absolute;
   z-index: 1;
 
 }
 .line{
   text-align: center; 

 }
 .c2{
    padding-top: 80px;
 }
 .l1{
    
    text-align: center;
 }
 #port{
    position: relative;
    width: 100%;
   margin-top: 50px;
 }

 .row {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--bs-gutter-y));
   margin-right: 0% !important;
   margin-left: 0%;
   margin-right: calc(0 * var(--bs-gutter-x));
}
@media only screen and(max-width:414px) {
  .row{
   margin-right: 0% !important;
   margin-left: 0%;
   margin-right: calc(0 * var(--bs-gutter-x));
  }
}
